@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset end */

* {
  font-family: "Noto Sans KR", sans-serif !important;
  color: #000000;
  /* 페이지네이션 */
}
.pagination {
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

ul.pagination li {
  cursor: pointer;
  width: 23px;
  height: 23px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 2px;
}

ul.pagination li a {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: -0.025em;
  color: #767676;
}
ul.pagination li.active a {
  color: #0000d8;
}
ul.pagination li.active {
  border: 1px solid #0000d8;
}
ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}
